-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "audits" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "team_size" INTEGER NOT NULL,
    "use_case" TEXT NOT NULL,
    "tools" JSONB NOT NULL,
    "recommendations" JSONB NOT NULL,
    "redundancies" JSONB NOT NULL,
    "total_monthly_saving" DECIMAL(10,2) NOT NULL,
    "total_annual_saving" DECIMAL(10,2) NOT NULL,
    "is_already_optimal" BOOLEAN DEFAULT false,
    "summary" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "share_token" UUID DEFAULT gen_random_uuid(),

    CONSTRAINT "audits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "leads" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "audit_id" UUID,
    "email" TEXT NOT NULL,
    "company" TEXT,
    "role" TEXT,
    "is_high_savings" BOOLEAN DEFAULT false,
    "email_sent" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "leads_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_audits_share_token" ON "audits"("share_token");

-- CreateIndex
CREATE INDEX "idx_leads_audit_id" ON "leads"("audit_id");

-- AddForeignKey
ALTER TABLE "leads" ADD CONSTRAINT "leads_audit_id_fkey" FOREIGN KEY ("audit_id") REFERENCES "audits"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

